@import url('https://fonts.loli.net/css?family=Rubik');

* {
    font-family: 'Rubik', sans-serif;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    overflow: hidden;
    background-color: transparent;
}

#command-buttons {
    app-region: no-drag;
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
}

    #command-buttons > div {
        width: 13px;
        height: 13px;
        border-radius: 50%;
        text-align: center;
        line-height: 13px;
        padding: 1px;
        box-sizing: content-box;
        transition: all 0.3s ease;
        margin-right: 5px;
    }

        #command-buttons > div:last-child {
            margin-right: 0;
        }

#miniBtn:after {
    content: "-";
    color: #666;
    transition: all 0.3s ease;
}

#miniBtn:hover {
    background-color: #ff9500fa;
    box-shadow: 0 0 3px rgba(33,33,33,0.3);
}

    #miniBtn:hover:after {
        color: #fff;
    }

#closeBtn:after {
    content: "×";
    color: #666;
    transition: all 0.3s ease;
}

#closeBtn:hover {
    background-color: #ff3b30fa;
    box-shadow: 0 0 3px rgba(33,33,33,0.3);
}

    #closeBtn:hover:after {
        color: #fff;
    }



#calculator {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top {
    app-region: drag;
    flex: 1;
    display: flex;
    background-color: #FFFFFF90;
    transition: all 0.3s;
}

.window--deactivate .top {
    background-color: #FFFFFF00;
}

.top #display {
    flex: 1;
    color: #fff;
    overflow: hidden;
    font-size: 3em;
    display: flex;
    justify-content: right;
    align-items: end;
    padding: 0 8px;
    text-shadow: 0 0 5px rgba(33,33,33,0.6);
}


.window--activated .btn {
    color: #aaa;
}

.window--deactivate .btn {
    color: #666;
}


.keys {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px 0;
    background-color: rgba(44,44,44,0.5);
}

    .keys .clear {
        background-color: #fcaf3bfa;
        color: #eee;
    }

    .keys span {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        text-align: center;
        margin: 6px;
        line-height: 50px;
        text-align: center;
        font-size: 2em;
        cursor: pointer;
    }

        .keys span:hover {
            color: #fff;
        }

sup {
    font-size: 0.6em;
    margin-left: 2px;
}

.unselectable {
    user-select: none;
}


.btn {
    transition: all 0.5s;
    position: relative;
    border-radius: 100%;
    padding: 4px 0;
}

    .btn:active {
        background-color: rgba(255,255,255,0.5);
    }

    .btn::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(255,255,255,0.2);
        transition: all 0.3s;
        border-radius: 100%;
    }

    .btn:hover::before {
        opacity: 0;
        transform: scale(0.5,0.5);
    }

    .btn::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        transition: all 0.3s;
        border: 1px solid rgba(255,255,255,0.5);
        transform: scale(1.2,1.2);
        border-radius: 100%;
    }

    .btn:hover::after {
        opacity: 1;
        transform: scale(1,1);
    }
